%h1 GPX Designs
%script{:src => "//api.tiles.mapbox.com/mapbox.js/plugins/leaflet-omnivore/v0.3.1/leaflet-omnivore.min.js"}

%p Find me in app/views/welcome/index.html.erb
#map{:style => "width: 800px; height: 600px;"}
= javascript_include_tag "topo.js"



