%head
  %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"}
  %link{:href => "https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css", :rel => "stylesheet"}/


  %body
    %h1 GPX Designs

    %p Find me in app/views/welcome/index.html.erb
    #map{:style => "width: 800px; height: 600px;"}
    = javascript_include_tag "topo.js"
