%head
  %script{:src => "https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.js"}
  %link{:href => "https://api.tiles.mapbox.com/mapbox-gl-js/v1.4.0/mapbox-gl.css", :rel => "stylesheet"}/


  %body
    %h1 GPX Designs

    %p Find me in app/views/welcome/index.html.erb
    #map{:style => "width: 400px; height: 300px;"}
    :javascript
      mapboxgl.accessToken = 'pk.eyJ1IjoiZGlsYmVydDI1MCIsImEiOiJjazE2eG41N2cxMjVhM2NsYnFtYXBucWM0In0.qjQFUix7bPaSwLZ8IskknA';
      var map = new mapboxgl.Map({
          container: 'map',
          style: 'mapbox://styles/mapbox/streets-v9'
      });


